{%- macro description(context) -%}
    <meta property="og:title" content="{% if context.title %} {{ context.title }} | {% endif %} CodeSections"> 
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="{% if context.title %} {{ context.title }} | {% endif %} CodeSections">
    <meta name="twitter:image:src" content="https://www.codesections.com/codesections_logo.png"> 
    <meta property="og:type" content="article">
    <meta property="og:url" content="www.codesections.com">
    <meta property="og:site_name" content="CodeSections">
    <meta property="article:section" content="Article Section">
    <meta property="og:image" itemprop="image primaryImageOfPage" content="https://www.codesections.com/codesections_logo_large.png">
  {%- if context.description -%}
    <meta property="og:description" content="{{ context.description }}">
    <meta name="description" content="{{ context.description }}">
    <meta name="twitter:description" content="{{ context.description }}">
  {%- else -%}
    <meta name="og:description" content="The personal website and blog of Daniel Long Sockwell, a lawyer-turned-programmer with an interest in web development, open source, and making things as simple as possible.">
    <meta name="description" content="The personal website and blog of Daniel Long Sockwell, a lawyer-turned-programmer with an interest in web development, open source, and making things as simple as possible.">
    <meta name="twitter:description" content="The personal website and blog of Daniel Long Sockwell, a lawyer-turned-programmer with an interest in web development, open source, and making things as simple as possible.">
  {%- endif -%}
{%- endmacro description -%}

{%- macro favicon() -%}
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="theme-color" content="#d9d9d9">
{%- endmacro favicon -%}

{%- macro navbar() -%}
    <nav class="nav-bar">
      <ul class="nav-bar__container">
        <li class="nav-bar__btn"><a href="/">Home</a></li>
        <li class="nav-bar__btn"><a href="/about">About</a></li>
        <li class="nav-bar__btn nav-bar__btn--icon">
            <!-- site logo, as an inline SVG because that loads faster-->
            <a href="/"><span class="hidden">Home</span>
            <svg class="svg__logo" viewBox="0 0 100 120" stroke-width="1px"
              stroke="#000" height="100" width="100">
              <title>Logo image/link to homepage</title>
              <circle class="svg__logo--background" fill="#fff"
              stroke="none" cx="50" cy="35" r="69"/>
              <path d="M -9,50 25,10 V 25 L 4,50 25,75 v 15 z"/>
              <path d="m 49,92 c 12,0 20,-8 20,-17 0,-7 -3,-11 -7,-13 5,-3 7,-7
              7,-12 0,-18 -30,-12 -30,-25 3,-11 17,-7 26,-3 l 2,-7 c -13,-7
              -35,-4 -35,11 0,6 3,11 9,14 -5,2 -9,7 -9,13 0,16 29,11 29,24 0,5
              -6,8 -13,8 -6,0 -11,-4 -15,-6 l -2,7 c 5,3 11,6 18,6 z"/>
              <path d="M 110,50 75,90 V 75 L 98,50 75,25 V 10 Z"/>
              <ellipse class="svg__logo--background" ry="8.5" rx="11.5"
              cy="51" cx="50" fill="#fff"/>
            </svg>
            </a>
        </li>
        <li class="nav-bar__btn"><a href="/blog">Blog</a></li>
        <li class="nav-bar__btn"><a href="/projects">Projects</a></li>
      </ul>
    </nav>
{%- endmacro navbar -%}

{% macro footer() %}
  <footer class="footer">
    <ul>
      <li>© 2018 |</li>
      <li><a href="/about#contact">Contact</a> |</li>
      <li><a href="/license/">Few Rights Reserved</a> |</li>
      <li><a href="/rss.xml" type="application/rss+xml"> RSS</a></li>
    </ul>
    <ul>
      <li><a href="/privacy">Privacy Guarantees</a> |</li>
      <li><a href="https://gitlab.com/codesections/codesections-website">
        Source Code for codesections.com</a>
      </li>
    </ul>
  </footer>
{% endmacro footer %}
