<!DOCTYPE html>
<html lang="en">
  <head>
    <title>pass-gen</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="pass-gen is a command-line utility that generates secure, pronounceable passphrases that can be used on their own, copied to a GUI password manager, or piped directly into a password manager.">
 <link rel="manifest" href="/manifest.json">
 <style>
      body {
        margin: 20px auto;
        max-width: 750px;
        line-height: 1.6;
        font-size: 18px;
        color: #444;
        padding: 0 10px;
        font-family: -apple-system,
               BlinkMacSystemFont,
               'Segoe UI',
               Roboto,
               'Helvetica Neue',
               Arial, sans-serif
      }
      h1 {
        margin-bottom: -.75em;
        margin-top: .5em;
      }
      h2 {
        margin-top: 2em;
        margin-bottom: -.5em;
      }
      a {
        color: #0071F0;
      }
      code {
        color: #c0341d;
        background-color: #fbe5e1;
        border-radius: 3px;
      }
      pre {
        overflow: auto;
      }
    </style>
  </head>

  <body>
    {{ section.content | safe }}
  </body>
</html>
